    <div class="container">
      <p><b>{{tickerSymbol}} - {{companyName}}</b></p>
      <p>Market Cap: {{marketCap}}</p>
      <p>PE: {{pe}}  Rank: {{peRank}}</p>
      <p>PS: {{ps}}  Rank: {{psRank}}</p>      
      <p>PB: {{pb}}  Rank: {{pbRank}}</p>  
      <p>PFreeCashflow: {{pfreeCashFlow}}  Rank: {{pfreeCashFlowRank}}</p>  
	  <p>Enterprise Value / EBITDA: {{enterpriseValueEBITDA}}  Rank: {{enterpriseValueEBITDARank}}</p>
	  <p>Dividend Yield: {{dividendYield}}</p>
	  <p>Stock Purchase: {{salePurchaseOfStock}}</p>
	  <p>Shareholder Yield: {{shareholderYield}}  Rank: {{shareholderYieldRank}}</p>
	  <p>Performance 1/2 year: {{performanceHalfYear}}</p>
	  <p>Current Price: {{price}}</p>
	  <p>Score: {{score}}</p>
	  <hr>
    </div>